* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: grey;
    color: white;
}

form {
    height: 750px;
    width: 430px;
    background-color: rgba(255, 255, 255, 0.07);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.container {
    height: 100%;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}

.container h3 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.container label {
    font-size: 18px;

}

.container input {
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    margin-top: 16px;
    width: 100%;
    background-color: #fff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}